.board { width: 700px; margin: 0 auto; table-layout: fixed; border-collapse: collapse; }
.board td { text-align: center; padding: 10px;}
.board td:nth-child(2) {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.board th { padding: 7px; background: lightgoldenrodyellow; }
.board tr:nth-child(odd) { background: #cef279; }
.board tr:nth-child(even) { background:  #e4f7ba;}
.alignrgt { text-align-last: right;}
.alignlft { text-align-last: left !important;}
.board td:nth-child(2), .board th:nth-child(2){text-align: left}


.pagenation { list-style: none; padding: 0; margin:0 auto; text-align: center; }
.pagenation li { display: inline-block; padding: 6px; }
.cpage { font: bold 30px '맑은고딕'; color: red;}
.prev { color: #cccccc;}

select { padding: 3px; }
input[type="text"] { padding: 3px; }